/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "RichardMurray"; src: url("./assets/fonts/richardm.ttf"); }

html, body {
    height:100%;
    background-color: #fafafa;
    overflow: hidden;
}
